<div class="row section recentworks topspace">

    <h2 class="section-title"><span>{{T "Recent_Works"}}</span></h2>

    <div class="thumbnails recentworks">
        {{ range $index, $area := .Site.Data.recentworks }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="{{ .url }}">
                    <span class="img">
                        <img src="{{ .image }}" alt="">
                        <span class="cover"><span class="more">{{T "See_details" .}} &rarr;</span></span>
                    </span>
                    <span class="title">{{ .name }}</span>
                </a>
                <span class="details">
                    {{ $len := sub (len .items) 1 }}
                    {{ range $i, $item := where .items "id" .index }}
                        <a href="{{ .url }}">{{ .name }}</a>
                        {{ if gt $len $i }} | {{ end }}
                    {{ end }}
                </span>
            </div>
        {{ end }}
    </div>

</div> <!-- /section -->


<div class="row section recentworks topspace">

    <h2 class="section-title"><span>{{T "Recent_Works"}}</span></h2>

    <div class="">
        {{ range where .Data.Pages "Section" "work" }}
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">{{ .Title }}</h3>
                <p>{{ .Summary }}</p>
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">{{T "See_details"}}</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
